.high-contrast {
  button,
  input,
  textarea,
  select {
    background-color: var(--accessibility-background);

    border: 2px solid var(--accessibility-text);
  }

  background-color: var(--accessibility-background);
  color: var(--tx-gray-dark);

  // Redefine as variaveis
  --trans-03: var(--trans);
  --trans-1: var(--trans);
  --trans-2: var(--trans);
  --trans-3: var(--trans);
  --trans-45: var(--trans);

  --main-washed: var(--trans);
  --main-lighter: var(--trans);
  --main-light: var(--trans);
  --main: var(--trans);
  --main-dark: var(--trans);
  --main-darker: var(--trans);

  --white: var(--trans);
  --gray-washed: var(--trans);
  --gray-lighter: var(--trans);
  --gray-light: var(--trans);
  --gray: var(--trans);
  --gray-dark: var(--trans);
  --gray-darker: var(--trans);

  --error-washed: var(--trans);
  --error-lighter: var(--trans);
  --error-light: var(--trans);
  --error: var(--trans);
  --error-dark: var(--trans);

  --tx-trans-03: var(--accessibility-text);
  --tx-trans-1: var(--accessibility-text);
  --tx-trans-2: var(--accessibility-text);
  --tx-trans-3: var(--accessibility-text);
  --tx-trans-45: var(--accessibility-text);

  --tx-main-washed: var(--accessibility-text);
  --tx-main-lighter: var(--accessibility-text);
  --tx-main-light: var(--accessibility-text);
  --tx-main: var(--accessibility-text);
  --tx-main-dark: var(--accessibility-text);
  --tx-main-darker: var(--accessibility-text);

  --tx-white: var(--accessibility-text);
  --tx-gray-washed: var(--accessibility-text);
  --tx-gray-lighter: var(--accessibility-text);
  --tx-gray-light: var(--accessibility-text);
  --tx-gray: var(--accessibility-text);
  --tx-gray-dark: var(--accessibility-text);
  --tx-gray-darker: var(--accessibility-text);

  --tx-error-washed: var(--accessibility-text);
  --tx-error-lighter: var(--accessibility-text);
  --tx-error-light: var(--accessibility-text);
  --tx-error: var(--accessibility-text);
  --tx-error-dark: var(--accessibility-text);

  --bg-trans-03: var(--accessibility-background);
  --bg-trans-1: var(--accessibility-background);
  --bg-trans-2: var(--accessibility-background);
  --bg-trans-3: var(--accessibility-background);
  --bg-trans-45: var(--accessibility-background);

  --bg-main-washed: var(--accessibility-background);
  --bg-main-lighter: var(--accessibility-background);
  --bg-main-light: var(--accessibility-background);
  --bg-main: var(--accessibility-background);
  --bg-main-dark: var(--accessibility-background);

  --bg-white: var(--accessibility-background);
  --bg-gray-washed: var(--accessibility-background);
  --bg-gray-lighter: var(--accessibility-background);
  --bg-gray-light: var(--accessibility-background);
  --bg-gray: var(--accessibility-background);
  --bg-gray-dark: var(--accessibility-background);
  --bg-gray-darker: var(--accessibility-background);

  --bg-error-washed: var(--accessibility-background);
  --bg-error-lighter: var(--accessibility-background);
  --bg-error-light: var(--accessibility-background);
  --bg-error: var(--accessibility-background);
  --bg-error-dark: var(--accessibility-background);
}
