//=== Remote imports
// Icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

//=== Fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Logo
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

// Subtitles
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
//=== Local imports
@import './variables.scss';
@import './css-reset.scss';
@import './mixins.scss';
@import './accessibility.scss';
@import './classes.scss';

//=== Global style

:root {
  font-size: 18px;
}

#app {
  font-family: 'Lexend', 'Source Sans Pro', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  min-height: 100vh;

  color: var(--tx-gray-darker);
  font-weight: 400;
}

button,
a,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

// Use flexbox always
div,
main,
section,
header,
footer,
form,
button,
p,
span,
label {
  display: flex;
  align-items: flex-start;
}

input,
textarea {
  @include text-input;
}

input::placeholder,
textarea::placeholder {
  color: var(--tx-gray);
}

button {
  @include button;
}

h1 {
  font-size: 2rem;
  font-family: 'Patua One', cursive;
  font-weight: bold;
  letter-spacing: 0.11rem;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Patua One', cursive;
  font-weight: 400;
}

body {
  background-color: var(--bg-white);
}
