// Ativa se estiver em high contrast
@mixin high-contrast {
  .high-contrast & {
    @content;
  }
}

// Introduz uma borda de alto contraste
@mixin high-contrast-border {
  @include high-contrast {
    border: 2px solid var(--accessibility-text);
  }
}

// Indicacao visual de que esta desabilitado. Pode se rusado em botoes, input, etc
@mixin disabled {
  background-color: var(--bg-trans-1);
  color: var(--tx-trans-3);
  box-shadow: none;
  border-color: transparent;
  pointer: initial;

  &:active {
    filter: none;
  }

  &:hover {
    filter: none;
    cursor: inherit;
  }

  @include high-contrast {
    text-decoration: line-through;
  }
}

// O container de uma pagina, em geral
@mixin page-container {
  padding: 2rem;

  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

// Qualquer caixa com conteudo
@mixin content-container {
  padding: 2rem;
  border-radius: $border-radius;

  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include high-contrast-border;
}

// Coisas clicaveis: faz reagir ao hover e ao clique
@mixin clickable {
  cursor: pointer;
  user-select: none;

  transition: all 100ms;

  &:hover {
    filter: brightness(1.02);
  }

  &:active {
    filter: brightness(0.95);
  }

  @include high-contrast-border;
}

// Adiciona um overlay quando esta em hover
@mixin hover-overlay {
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;

    transition: all 100ms;
  }

  &:not(.disabled):not(:disabled) {
    &:hover::after {
      @content;

      @include high-contrast {
        background: none;
      }
    }
  }
}

@mixin bevel($color, $size: 1px) {
  box-shadow: 0 calc($size + 2px) 0 $size $color;
}

// Botoes
@mixin button {
  @include clickable;
  @include bevel(var(--trans-3));

  border-radius: $border-radius;
  align-items: center;
  justify-content: center;

  text-transform: lowercase;

  padding: 0.5rem 1rem;

  gap: 0.3rem;

  position: relative;

  transition: all 100ms;

  @include hover-overlay {
    background-color: rgba(255, 255, 255, 0.1);
  }

  > span {
    align-items: center;
    gap: 0.3rem;
  }

  &:not(.disabled):not(:disabled):active {
    translate: 0 3px;
    box-shadow: 0 0 0 0 var(--trans-3);
  }

  &:disabled,
  &.disabled {
    @include disabled;
  }

  @include high-contrast-border;
}

// Transforma o elemento num circulo. Use a variavel --size para definir um tamanho
@mixin circle {
  // Valor padrao
  padding: 0.3rem;

  aspect-ratio: 1 / 1;

  align-items: center;
  justify-content: center;

  border-radius: 50%;

  width: unset;
  height: unset;
  min-width: unset;
  min-height: unset;
}

// Coloca uma bordinha nos conteudos (especialmente util para texto)
@mixin text-outline {
  filter: drop-shadow(1px 0 0 var(--bg-white))
    drop-shadow(-1px 0 0 var(--bg-white)) drop-shadow(0 1px 0 var(--bg-white))
    drop-shadow(0 -1px 0 var(--bg-white));
}

// Um label de um field
@mixin field-label {
  color: var(--tx-main-dark);

  font-weight: 500;
  font-size: 0.9rem;

  opacity: 0.8;
}

// Uma message de um field
@mixin field-message {
  color: var(--tx-gray-dark);

  font-weight: 500;
  font-size: 0.8rem;
}
