@import './mixins.scss';

// Obs. pode usar variaveis de scss quando elas forem sempre constantes. As cores por exemplo nao podem ser, pois podem ser substituidas se o usuario ativar algumas opcoes de acessibilidade
$border-radius: 20px;

$box-shadow-intensity: 1px rgba(128, 128, 128, 0.157);

// === FLOATING ICONS
// Define variaveis para serem utilizadas pelos icones flutuantes no topo da tela

// Tamanho dos icones
$floating-icon-size: 2rem;

// Espaco acima dos icones
$floating-icon-margin: 1rem;

// Duracao de animacoes
$floating-icon-animation-duration: 400ms;

// === LEGENDA

// A fim de facilitar as configuracoes de acessibilidade:
// Cores precedidas por tx sao utilizadas como texto ou elementos de destaque
// Cores precedidas por bg sao utilizadas como plano de fundo

:root {
  //=== CORES

  // As graduacoes de cor seguem a seuinte ordem, do mais claro ao mais escuro: washed -> lighter -> light -> dark -> darker -> blackish

  --trans: rgba(0, 0, 0, 0);
  --trans-03: rgba(0, 0, 0, 0.03);
  --trans-1: rgba(0, 0, 0, 0.1);
  --trans-2: rgba(0, 0, 0, 0.2);
  --trans-3: rgba(0, 0, 0, 0.3);
  --trans-45: rgba(0, 0, 0, 0.45);

  --main-washed: #eefcee;
  --main-lighter: #c1f8c1;
  --main-light: #68e768;
  --main: #22c922;
  --main-dark: #2e932e;
  --main-darker: #2d792d;

  --white: white;
  --gray-washed: rgb(250, 250, 250);
  --gray-lighter: rgb(233, 233, 233);
  --gray-light: rgb(202, 202, 202);
  --gray: #bbbbbb;
  --gray-dark: rgb(143, 143, 143);
  --gray-darker: rgb(108, 108, 108);

  --error-washed: rgb(255, 218, 218);
  --error-lighter: rgb(255, 172, 172);
  --error-light: rgb(253, 107, 107);
  --error: rgb(255, 24, 24);
  --error-dark: rgb(210, 22, 22);

  --warning-washed: rgb(255, 254, 246);
  --warning-lighter: rgb(253, 247, 196);
  --warning-light: rgb(255, 240, 131);
  --warning: rgb(250, 222, 9);
  --warning-dark: rgb(212, 188, 11);

  //=== CORES DE TX

  --tx-trans-03: var(--trans-03);
  --tx-trans-1: var(--trans-1);
  --tx-trans-2: var(--trans-2);
  --tx-trans-3: var(--trans-3);
  --tx-trans-45: var(--trans-45);

  --tx-main-washed: var(--main-washed);
  --tx-main-lighter: var(--main-lighter);
  --tx-main-light: var(--main-light);
  --tx-main: var(--main);
  --tx-main-dark: var(--main-dark);
  --tx-main-darker: var(--main-darker);

  --tx-white: var(--white);
  --tx-gray-washed: var(--gray-washed);
  --tx-gray-lighter: var(--gray-lighter);
  --tx-gray-light: var(--gray-light);
  --tx-gray: var(--gray);
  --tx-gray-dark: var(--gray-dark);
  --tx-gray-darker: var(--gray-darker);

  --tx-error-washed: var(--error-washed);
  --tx-error-lighter: var(--error-lighter);
  --tx-error-light: var(--error-light);
  --tx-error: var(--error);
  --tx-error-dark: var(--error-dark);

  --tx-warning-washed: var(--warning-washed);
  --tx-warning-lighter: var(--warning-lighter);
  --tx-warning-light: var(--warning-light);
  --tx-warning: var(--warning);
  --tx-warning-dark: var(--warning-dark);

  // === CORES DE BG

  --bg-trans-03: var(--trans-03);
  --bg-trans-1: var(--trans-1);
  --bg-trans-2: var(--trans-2);
  --bg-trans-3: var(--trans-3);
  --bg-trans-45: var(--trans-45);

  --bg-main-washed: var(--tx-main-washed);
  --bg-main-lighter: var(--tx-main-lighter);
  --bg-main-light: var(--tx-main-light);
  --bg-main: var(--tx-main);
  --bg-main-dark: var(--tx-main-dark);
  --bg-main-darker: var(--tx-main-darker);

  --bg-white: var(--tx-white);
  --bg-gray-washed: var(--tx-gray-washed);
  --bg-gray-lighter: var(--tx-gray-lighter);
  --bg-gray-light: var(--tx-gray-light);
  --bg-gray: var(--tx-gray);
  --bg-gray-dark: var(--tx-gray-dark);
  --bg-gray-darker: var(--tx-gray-darker);

  --bg-error-washed: var(--tx-error-washed);
  --bg-error-lighter: var(--tx-error-lighter);
  --bg-error-light: var(--tx-error-light);
  --bg-error: var(--tx-error);
  --bg-error-dark: var(--tx-error-dark);

  --bg-warning-washed: var(--tx-warning-washed);
  --bg-warning-lighter: var(--tx-warning-lighter);
  --bg-warning-light: var(--tx-warning-light);
  --bg-warning: var(--tx-warning);
  --bg-warning-dark: var(--tx-warning-dark);

  // === ACESSIBILIDADE

  --accessibility-text: yellow;
  --accessibility-background: black;
}
